{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <section class="section-intro padding-y-sm">
            <div class="intro-banner-wrap text-center">
                {% if about.image %}
                    <img src="{{ about.image.url }}" class="img-fluid rounded" alt="{{ about.title }}">
                {% endif %}
            </div>
        </section>

        <section class="section-name padding-y-sm">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <h3 class="section-title" style="font-size: 28px;">{{ about.title }}</h3>
                    <br>
                    <p class="text-muted" style="font-size: 23px; margin-top: 21px;">{{ about.content }}</p>
                   
                    <a href="{% url 'store' %}" class="btn btn-outline-secondary">Explore Our Store</a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
