{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default plain" id="dash_0">
                    <!-- Start .panel -->
                    <div class="panel-body p-3">
                        <div class="row">
                            <!-- Invoice Logo and From Section -->
                            <div class="col-md-12 mb-4">
                                <div class="invoice-logo text-center">
                                    <img src="{% static 'images/logodjambo3d.JPG' %}" alt="Invoice logo" style="max-height: 40px;">
                                </div>
                                <div class="invoice-from mt-3">
                                    <ul class="list-unstyled text-center">
                                        <li><strong>Invoiced To</strong></li>
                                        <li>{{ order.full_name }}</li>
                                        <li>{{ order.full_address }}</li>
                                        <li>{{ order.city }}, {{ order.state }}</li>
                                        <li>{{ order.country }}</li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Invoice Details Section -->
                            <div class="col-md-12">
                                <div class="invoice-details mt-4">
                                    <div class="well">
                                        <ul class="list-unstyled mb-0">
                                            <li><strong>Order</strong> #{{ order.order_number }}</li>
                                            <li><strong>Transaction ID</strong> {{ order.payment.payment_id }}</li>
                                            <li><strong>Order Date:</strong> {{ order.created_at }}</li>
                                            <li><strong>Status:</strong> {{ order.payment.status }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Invoice Items Table -->
                            <div class="col-md-12 mt-4">
                                <div class="invoice-items">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Products</th>
                                                    <th class="text-center">Qty</th>
                                                    <th class="text-center">Unit Price
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in order_detail %}
                                                    <tr>
                                                        <td>
                                                            <div class="product-info">
                                                                {% if item.product.images %}
                                                                    <img src="{{ item.product.images.url }}" alt="{{ item.product.product_name }}" class="img-sm">
                                                                {% endif %}
                                                                <p class="product-name">{{ item.product.product_name }}</p>
                                                                <p class="text-muted small">
                                                                    {% if item.variations.all %}
                                                                        {% for i in item.variations.all %}
                                                                            <strong>{{ i.variation_category|capfirst }}</strong>: {{ i.variation_value|capfirst }}
                                                                            {% if i.extra_cost > 0 %}
                                                                                <br>
                                                                                <span class="my-0 small text-muted">
                                                                                    (+{{ i.extra_cost|floatformat:2 }} per item)
                                                                                </span>
                                                                            {% endif %}
                                                                            <br>
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                </p>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">{{ item.quantity }}</td>
                                                        <td class="text-center">€{{ item.product_price }} EUR</td>
                                                       
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th colspan="2" class="text-right">Total:</th>
                                                    <th class="text-center">€{{ subtotal|floatformat:2 }} EUR</th>
                                                </tr>
                                                <tr>
                                                    <th colspan="2" class="text-right">Shipping Cost:</th>
                                                    <th class="text-center">€7.99 EUR</th>
                                                </tr>
                                                <tr>
                                                    <th colspan="2" class="text-right">Grand Total:</th>
                                                    <th class="text-center">€{{order.order_total}} EUR</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- Invoice Footer Section -->
                            <div class="col-md-12 mt-4">
                                <div class="invoice-footer">
                                    <p class="text-center">Thank you for shopping with us!</p>
                                </div>
                            </div>
                        </div>
                        <!-- End .row -->
                    </div>
                </div>
                <!-- End .panel -->
            </div>
            <!-- col-md-12 end here -->
        </div>
    </div>
{% endblock %}
