<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-4 col-12 mb-3 text-md-center text-center">
				<p class="text-muted">3D Printing Lab</p>
			</div>
			<div class="col-md-4 col-12 text-center mb-3">
				<span class="d-block mb-2">info@2dprintlab.com</span>
				<span class="d-block mb-2">+385 111 1111 </span>
				<span class="d-block">Tvrdjavica</span>
			</div>
			<div class="col-md-4 col-12 text-md-right text-center text-muted">
				<div class="d-inline-block mx-2">
					<i class="fab fa-lg fa-cc-visa" style="color: gray; font-size: 24px;"></i>
				</div>
				<div class="d-inline-block mx-2">
					<i class="fab fa-lg fa-cc-paypal" style="color: gray; font-size: 24px;"></i>
				</div>
				<div class="d-inline-block mx-2">
					<i class="fab fa-lg fa-cc-mastercard" style="color: gray; font-size: 24px;"></i>
				</div>
			</div>
			<div class="col-12 mt-3 text-center">
				<div class="footer-social-icons">
					<a href="#" style="color: gray; margin-right: 15px; font-size: 24px;">
						<i class="fab fa-instagram"></i>
					</a>
					<a href="#" style="color: gray; margin-right: 15px; font-size: 24px;">
						<i class="fab fa-facebook-f"></i>
					</a>
					<a href="#" style="color: gray; font-size: 24px;">
						<i class="fab fa-youtube"></i>
					</a>
				</div>
			</div>
		</section>
	</div>
</footer>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$('.thumb a').click(function(e){
			e.preventDefault();
			$('.mainImage img').attr('src', $(this).attr("href"));
		})
	})
</script>

</body>
</html>
