body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
    max-width: 100%; /* Set the container's max-width to 100% */
    padding: 0;
}

.banner-image {
    width: 100%;
    height: auto;
}

.section-intro, .section-name {
    padding: 0;
}
