{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-content padding-y bg">
    <div class="container">

        <!-- ============================ COMPONENT 1 ================================= -->
		<div class="card">
			<div class="row no-gutters">
				<aside class="col-md-6">
					<article class="gallery-wrap">
						<div id="product-media-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								{% for image in product_gallery %}
									<div class="carousel-item {% if forloop.first %}active{% endif %}">
										<img class="d-block w-100" src="{{ image.image.url }}" alt="Product Image">
									</div>
								{% endfor %}
								{% for video in single_product.videos.all %}
									<div class="carousel-item {% if not forloop.first %}active{% endif %}">
										<video controls class="d-block w-100">
											<source src="{{ video.video.url }}" type="video/mp4">
											Your browser does not support the video tag.
										</video>
									</div>
								{% endfor %}
							</div>
							<a class="carousel-control-prev" href="#product-media-carousel" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#product-media-carousel" role="button" data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</article>
				</aside>
				<main class="col-md-6 border-left">

					<form action="{% url 'add_cart' single_product.id %}" method="POST">
						{% csrf_token %}
						<article class="content-body">

							<h2 class="title">{{ single_product.product_name }}</h2>
							<div class="rating-star">
								<span>
									<i class="fa fa-star{% if single_product.averageReview < 0.5 %}-o{% elif single_product.averageReview >= 0.5 and single_product.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if single_product.averageReview < 1.5 %}-o{% elif single_product.averageReview >= 1.5 and single_product.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if single_product.averageReview < 2.5 %}-o{% elif single_product.averageReview >= 2.5 and single_product.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if single_product.averageReview < 3.5 %}-o{% elif single_product.averageReview >= 3.5 and single_product.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if single_product.averageReview < 4.5 %}-o{% elif single_product.averageReview >= 4.5 and single_product.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
	<span>{{single_product.countReview}} reviews</span>
									</span>
							</div>


							<div class="mb-3">
								<var class="price h4">$ {{single_product.price}}</var>
							</div>

							<p>{{ single_product.description }}</p>


							<hr>
							<div class="row">
								<div class="item-option-select">
									<h6>Choose Color</h6>
									<select name="color" class="form-control" required>
										<option value="" disabled selected>Select Color:</option>
										{% for variation in single_product.variations.colors.all %}
											<option value="{{ variation.variation_value | lower }}"
												{% if single_product.selected_variation == variation %}selected{% endif %}>
												{{ variation.variation_value | capfirst }}
												{% if variation.extra_cost > 0 %} (+{{ variation.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							
							{% if single_product.variations.sizes %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select Size</h6>
									<select name="size" class="form-control" required>
										<option value="" disabled selected>Select Size:</option>
										{% for i in single_product.variations.sizes.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}
							
							{% if single_product.variations.packs %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select Pack:</h6>
									<select name="pack" class="form-control" required>
										<option value="" disabled selected>Select Pack:</option>
										{% for i in single_product.variations.packs.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}
							
							{% if single_product.variations.switchtypes %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select Switch Type:</h6>
									<select name="switchtype" class="form-control" required>
										<option value="" disabled selected>Select Switch Type:</option>
										{% for i in single_product.variations.switchtypes.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}
							
							{% if single_product.variations.mounting_options %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select Mounting Option :</h6>
									<select name="mounting_option" class="form-control" required>
										<option value="" disabled selected>Select Switch Type:</option>
										{% for i in single_product.variations.mounting_options.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}

							{% if single_product.variations.individual_colors %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select Color Option:</h6>
									<select name="individual_color" class="form-control" required>
										<option value="" disabled selected>Select Color Option:</option>
										{% for i in single_product.variations.individual_colors.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}
							
							{% if single_product.variations.shapes %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select Shape Option:</h6>
									<select name="shape" class="form-control" required>
										<option value="" disabled selected>Select Shape Option:</option>
										{% for i in single_product.variations.shapes.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}

							{% if single_product.variations.batteries_types %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select Batteries Type:</h6>
									<select name="batteries_type" class="form-control" required>
										<option value="" disabled selected>Select Batteries Type:</option>
										{% for i in single_product.variations.batteries_types.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}

							{% if single_product.variations.sets %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select Set:</h6>
									<select name="set" class="form-control" required>
										<option value="" disabled selected>Select Set:</option>
										{% for i in single_product.variations.sets.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}

							{% if single_product.variations.shelf_sizes %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select Shelf Size:</h6>
									<select name="shelf_size" class="form-control" required>
										<option value="" disabled selected>Select Shelf Size:</option>
										{% for i in single_product.variations.shelf_sizes.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}
							
							{% if single_product.variations.container_types %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select Container Type:</h6>
									<select name="container_type" class="form-control" required>
										<option value="" disabled selected>Select Container Type:</option>
										{% for i in single_product.variations.container_types.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}

							{% if single_product.variations.holder_sizes %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select Holder Size:</h6>
									<select name="holder_size" class="form-control" required>
										<option value="" disabled selected>Select Holder Size:</option>
										{% for i in single_product.variations.holder_sizes.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}


							{% if single_product.variations.first_colors %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select First Color:</h6>
									<select name="first_color" class="form-control" required>
										<option value="" disabled selected>Select First Color:</option>
										{% for i in single_product.variations.first_colors.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}

							{% if single_product.variations.second_colors %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select Second Color:</h6>
									<select name="second_color" class="form-control" required>
										<option value="" disabled selected>Select Second Color:</option>
										{% for i in single_product.variations.second_colors.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}

							{% if single_product.variations.third_colors %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select Third Color:</h6>
									<select name="third_color" class="form-control" required>
										<option value="" disabled selected>Select Third Color:</option>
										{% for i in single_product.variations.third_colors.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}


							{% if single_product.variations.fourth_colors %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select Forth Color:</h6>
									<select name="fourth_color" class="form-control" required>
										<option value="" disabled selected>Select Forth Color:</option>
										{% for i in single_product.variations.fourth_colors.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}

							{% if single_product.variations.type_placements %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select Type Placement:</h6>
									<select name="type_placement" class="form-control" required>
										<option value="" disabled selected>Select Type Placement:</option>
										{% for i in single_product.variations.type_placements.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}


							{% if single_product.variations.cage_colors %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select Cage Color:</h6>
									<select name="cage_color" class="form-control" required>
										<option value="" disabled selected>Select Cage Color:</option>
										{% for i in single_product.variations.cage_colors.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}

							
							{% if single_product.variations.switch_colors %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select Switch Color:</h6>
									<select name="switch_color" class="form-control" required>
										<option value="" disabled selected>Select Switch Color:</option>
										{% for i in single_product.variations.switch_colors.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}


							{% if single_product.variations.seat_colors %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select Seat Color:</h6>
									<select name="seat_color" class="form-control" required>
										<option value="" disabled selected>Select Seat Color:</option>
										{% for i in single_product.variations.seat_colors.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}

							{% if single_product.variations.stand_types %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select Stand Type:</h6>
									<select name="stand_type" class="form-control" required>
										<option value="" disabled selected>Select Stand Type:</option>
										{% for i in single_product.variations.stand_types.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}


							{% if single_product.variations.phone_holder_types %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select Phone Holder Type:</h6>
									<select name="phone_holder_type" class="form-control" required>
										<option value="" disabled selected>Select Phone Holder Type:</option>
										{% for i in single_product.variations.phone_holder_types.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}

							{% if single_product.variations.keycaps_colors %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select Keycap Color:</h6>
									<select name="keycaps_color" class="form-control" required>
										<option value="" disabled selected>Select Keycap Color:</option>
										{% for i in single_product.variations.keycaps_colors.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}

							{% if single_product.variations.spur_colors %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select Spur Color:</h6>
									<select name="spur_color" class="form-control" required>
										<option value="" disabled selected>Select Spur Color:</option>
										{% for i in single_product.variations.spur_colors.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}
                            
							{% if single_product.variations.sprocket_colors %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select Sprocket Color:</h6>
									<select name="sprocket_color" class="form-control" required>
										<option value="" disabled selected>Select Sprocket Color:</option>
										{% for i in single_product.variations.sprocket_colors.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}

							{% if single_product.variations.screw_colors %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select Screw Cap Color:</h6>
									<select name="screw_color" class="form-control" required>
										<option value="" disabled selected>Select Screw Cap Color:</option>
										{% for i in single_product.variations.screw_colors.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}

							
							{% if single_product.variations.inserts %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select Insert:</h6>
									<select name="insert" class="form-control" required>
										<option value="" disabled selected>Select Insert:</option>
										{% for i in single_product.variations.inserts.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}

							{% if single_product.variations.keyboard_thicknesss %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select Keyboard Thickness:</h6>
									<select name="keyboard_thickness" class="form-control" required>
										<option value="" disabled selected>Select Keyboard Thickness:</option>
										{% for i in single_product.variations.keyboard_thicknesss.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}

							{% if single_product.variations.laptop_thicknesss %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select Laptop Thickness:</h6>
									<select name="laptop_thickness" class="form-control" required>
										<option value="" disabled selected>Select Laptop Thickness:</option>
										{% for i in single_product.variations.laptop_thicknesss.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}


							{% if single_product.variations.drawer_sizes %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select Drawer Size:</h6>
									<select name="drawer_size" class="form-control" required>
										<option value="" disabled selected>Select Drawer Size:</option>
										{% for i in single_product.variations.drawer_sizes.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}

							{% if single_product.variations.him_colors %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select Him Color:</h6>
									<select name="drawer_size" class="form-control" required>
										<option value="" disabled selected>Select Him Color:</option>
										{% for i in single_product.variations.him_colors.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}

							{% if single_product.variations.she_colors %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select She Color:</h6>
									<select name="she_color" class="form-control" required>
										<option value="" disabled selected>Select She Color:</option>
										{% for i in single_product.variations.she_colors.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}

							{% if single_product.variations.headphone_band_widths %}
							<div class="row">
								<div class="item-option-select">
									<h6>Select Headphone Band Width:</h6>
									<select name="headphone_band_width" class="form-control" required>
										<option value="" disabled selected>Select Headphone Band Width:</option>
										{% for i in single_product.variations.headphone_band_widths.all %}
											<option value="{{ i.variation_value | lower }}">
												{{ i.variation_value | capfirst }}
												{% if i.extra_cost > 0 %} (+{{ i.extra_cost }}) {% endif %}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							{% endif %}


							<hr>
							{% if single_product.stock <= 0 %}
							<h5 class="text-secondary">Out of Stock</h5>
							{% else %}
							<button type="submit" class="btn  btn-secondary"> <span class="text">Add to Cart</span> <i class="fa fa-shopping-cart"></i> </button>
							{% endif %}
						</article> <!-- product-info-aside .// -->
					</form>
				</main> <!-- col.// -->
			</div> <!-- row.// -->
		</div> <!-- card.// -->
		

		<br>

		<div class="row">
			<div class="col-md-9">



				<form action="{% url 'submit_review' single_product.id %}" method="POST">
					{% csrf_token %}
					<h5>Write Your Review</h5>

					<div>
						<!-- Rating stars -->
						<label>How do you rate this product?</label>
						<br>
						<div class="rate">
							<input type="radio" name="rating" id="rating10" value="5" required /><label for="rating10" title="5"></label>
							<input type="radio" name="rating" id="rating9" value="4.5" required /><label for="rating9" title="4.5" class="half"></label>
							<input type="radio" name="rating" id="rating8" value="4" required /><label for="rating8" title="4"></label>
							<input type="radio" name="rating" id="rating7" value="3.5" required /><label for="rating7" title="3.5" class="half"></label>
							<input type="radio" name="rating" id="rating6" value="3" required /><label for="rating6" title="3"></label>
							<input type="radio" name="rating" id="rating5" value="2.5" required /><label for="rating5" title="2.5" class="half"></label>
							<input type="radio" name="rating" id="rating4" value="2" required /><label for="rating4" title="2"></label>
							<input type="radio" name="rating" id="rating3" value="1.5" required /><label for="rating3" title="1.5" class="half"></label>
							<input type="radio" name="rating" id="rating2" value="1" required /><label for="rating2" title="1"></label>
							<input type="radio" name="rating" id="rating1" value="0.5" required /><label for="rating1" title="0.5" class="half"></label>
						</div>
<br>
						Review Title:
						<input type="text" class="form-control" name="subject">
						<br>
						Review:
						<textarea name="review" rows="4" class="form-control"></textarea>
						<br>
						 {% if user.is_authenticated %}
							{% if orderproduct %}
								<input type="submit" value="Submit Review" class="btn btn-primary">
							{% else %}
								<p>You must purchase this product to post a review.</p>
							{% endif %}
						{% else %}
						<p>You must be logged in to post a review. <span><a href="{% url 'login' %}">Login now</a></span></p>
						{% endif %}

						<!-- {% if user.is_authenticated %}
								<input type="submit" value="Submit Review" class="btn btn-secondary">
						{% else %}
						<p>You must be logged in to post a review. <span><a href="{% url 'login' %}">Login now</a></span></p>
						{% endif %}
						<div class="alert alert-danger" role="alert" style="margin-top:10px;">
 when deployed will use auth for review if user bougth the product
</div> 

					</div> -->
{% include 'includes/alerts.html' %}
				</form>
<br>
<header class="section-heading">
	<h3>Customer Reviews </h3>
	<div class="rating-star">
		<span>
			<i class="fa fa-star{% if single_product.averageReview < 0.5 %}-o{% elif single_product.averageReview >= 0.5 and single_product.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
			<i class="fa fa-star{% if single_product.averageReview < 1.5 %}-o{% elif single_product.averageReview >= 1.5 and single_product.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
			<i class="fa fa-star{% if single_product.averageReview < 2.5 %}-o{% elif single_product.averageReview >= 2.5 and single_product.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
			<i class="fa fa-star{% if single_product.averageReview < 3.5 %}-o{% elif single_product.averageReview >= 3.5 and single_product.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
			<i class="fa fa-star{% if single_product.averageReview < 4.5 %}-o{% elif single_product.averageReview >= 4.5 and single_product.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
	<span>{{single_product.countReview}} reviews</span>
			</span>
	</div>

</header>

{% for review in reviews %}
				<article class="box mb-3">
					<div class="icontext w-100">

						<div class="text">
							<span class="date text-muted float-md-right">{{review.updated_at}} </span>
							<h6 class="mb-1">{{review.user.full_name}} </h6>
							<div class="rating-star">
								<span>
									<i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}" aria-hidden="true"></i>
								</span>
							</div>
						</div>
					</div> <!-- icontext.// -->
					<div class="mt-3">
						<h6>{{review.subject}}</h6>
						<p>
							{{review.review}}
						</p>
					</div>
				</article>
{% endfor %}


			</div> <!-- col.// -->
		</div> <!-- row.// -->


	</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
